@charset "UTF-8";

:root {
    --cor1: #F23D7F;
    --cor2: #73386F;
    --cor3: #212126;
    --cor4: #F2A35E;
    --cor5: #F26457;
}


@media screen and (min-width:768px) and (max-width:992px) {
    body {
        background-color: var(--cor3);
        width: 100vw;
        height: 100vh;

        background-image: url(fundo-sem-fundo.png);
        background-position: center bottom;
        background-size: 950px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(fundo-sem-fundo.png);
        background-repeat: no-repeat;
        background-size: 950px;
        background-position: center bottom;
        background-attachment: fixed;
        filter: drop-shadow(5px 5px 10px var(--cor5));
        z-index: -1;
    }

    main {
        width: 70vw;
        height: 500px;
        margin: auto;
        flex-flow: row wrap;
        display: flex;

        h1 {
            font-size: 2.5em;
        }

        p {
            font-size: .8em;
            text-align: justify;
            width: 500px;
        }

        #enviar {
            margin-top: 20px;
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }



}

@media screen and (min-width:992px) {
    body {
        background-color: var(--cor3);
        width: 100vw;
        height: 100vh;

        background-image: url(fundo-sem-fundo.png);
        background-position: center bottom;
        background-size: 1050px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(fundo-sem-fundo.png);
        background-repeat: no-repeat;
        background-size: 1050px;
        background-position: center bottom;
        background-attachment: fixed;
        filter: drop-shadow(5px 5px 10px var(--cor5));
        z-index: -1;
    }

    main {
        width: 90vw;
        height: 500px;
        padding: 40px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 1em;
            width: 600px;
        }

        #iemail,
        #isenha {
            margin: 10px;

        }

        #enviar {
            margin: 10px;
            
        }
    }
}